body{
	font-family: 'Allerta', sans-serif;
	letter-spacing: 3px;
	font-weight: 300;
	color: #000;
	margin: 0;
}
table{
	width: 100%;
}
th{
	background: #273b47;
	color: #fff;
	padding: 10px 20px;
	text-align: left;
}
td{
	padding: 20px;
}
table, td, th {
	border: 1px solid  #273b47;
	border-collapse: collapse;
}
input, textarea{
	outline: 0;
}
input:focus, textarea:focus{
	background: lightgray;	
}
.background{
	background: url("../images/background.png");
	background-size: cover;
}
.contenedor{
	width: 800px;
	margin: auto;
	position: relative;
}
.titulo{
 font-size: 70px;
 font-family: 'Montserrat', sans-serif;
 margin-bottom: 0;
 margin-top: 70px;
}
.titulo span{
	text-decoration: underline;

}
.titulo-a{
	font-size: 24px;
	margin-top: 0;
}
.title-b{
	margin: 0;
	font-size: 40px;
	margin-bottom: 20px;
}

.guitarra{
	padding: 20px;
	margin: 10px 10px 40px 10px;
	border: 1px solid  #1f313c;
	border-radius: 8px;
}

.guitarras{
	color: #1f313c;
	margin-bottom: 60px;
}
.guitarras h2{
	font-size: 35px;
}
.guitarra ol{
	padding: 0;
}
.guitarra.b{
	height: 190px;
}
.contenedor-guitarra-a{
	padding-left: 20px;
}
.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 100px
}
.portada{
	color: #fff;
	padding: 20px;
	height: 500px;
}
.portada button{
	margin-bottom: 70px;
}
.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}
.menu li{
	display: inline-block;
	margin-left: 5px;
}
.menu li:before{
	content: '∘';
	font-size: 50px;
	line-height: 20px;
	color: #fff;
}
.menu a{
	color: #fff;
	text-decoration: none;
}
.logotipo{
	display: inline-block;
	margin-left: 0;
}

.right{
	float: right;
	position: relative;
	top: -180px;
}
.left{
	float: left;
	position: relative;
}


.header{
	position: relative;	
}
.button{
	border-radius: 12px;
	cursor: pointer;
	border: none;
	padding: 7px 12px;
	color: #fff;
	background: #fd324e;
	font-size: 18px;
	text-decoration: none;
	background: linear-gradient(to left, #fe344e, #ff7250)
}
.footer{
	background: #273b47;
	padding: 50px 10px;
}
.footer .contenedor{
	display: flex;
	justify-content: space-between;
}
.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}
.contacto img{
	display: block;
}
.contacto strong{
	display: block;
}
.contacto a{
	color: #fff;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}
.col1{
	margin-right: 1em;
}
.col2{
	align-items: flex-start;
}
.col2 .button{
	margin-top: 15px; 
}
.intereses label{
	font-size: 12px;
}
.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}
.sexo{
	margin-top: 10px;
}
.tabla{
	margin: 50px 0;
}

.beatles p{
	border: 1px solid  #1f313c;
	padding: 1em;
}
.beatles-cont{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
		.penta{
			border: 1px solid  #1f313c;
			margin: 1em 0; 
		}






