body{
	margin: 0;
	padding: 0;
	background: #efeff4;
	font-family: 'Monserrat', sans-serif;
}

.content{
	min-height: 70vh;
	text-align: center;
	margin: 0 auto;
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
}
.content div{
	background: #efeff4;
	border: 2px dashed orange;
	transition: 1s;

}
.content div:hover {
	background: #273b47;
}
.content p{
	color: #000;
	transition: 1s;
}
.content:hover p{
	color: #fff;
}






.position{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer{
	text-align: center;
	background: #273b47;
	padding: 10px 0;
}
	.contacto a{
		text-decoration: none;
		color: #fff;
		text-decoration: underline;
		padding: 5px;
	}
	.contacto a{
		display: block;
	}
	.contacto span{
		display: block;
	}





.header{
	position: relative;	
}

	.background{
		background: url("../images/background.png");
		background-size: cover;
	}
	.contenedor{
		width: 800px;
		margin: auto;
		position: relative;
	}
	
.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}
	.menu li {
		display: inline-block;
		margin-left: 5px;
	}
	.menu li:before{
		content: '∘';
		font-size: 50px;
		line-height: 20px;
		color: #fff;
	}
	.menu a{
		color: #fff;
		text-decoration: none;
	}
	.logotipo{
		display: inline-block;
		margin-left: 0;
	}