
body{
	margin: 0;	
	font-family: 'Monserrat', sans-serif;
}
.content{
	text-align: center;
	margin: 0 auto;
	width: 400px;
	height: 380px;
	display: flex;
	align-items: center;
}
.content div{
	background: #efeff4;
	border: 2px dashed orange;
	transition: 1s;

}
.content div:hover {
	background: #273b47;
}
.content p{
	color: #000;
	transition: 1s;
}
.content:hover p{
	color: #fff;
}

.header{
	background: #273b47;
	padding: 1em 0;
	width: 100%;
	line-height: 10px;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 8px;
	padding: .5em 0;
}
.menu ul{
	margin: 0;
	padding: 0;
	margin-right: 20px;
}
.menu li{
	display: inline-block;
	margin-left: 30px;
}

.menu a{
	color: #fff;
	text-decoration: none;
	padding: 1em 0;
}
.logotipo{
	display: inline-block;
	margin: 0;
	margin-left: 20px;
}

.footer{
	width: 100%;
	text-align: center;
	background: #273b47;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
}
.contacto a{
	text-decoration: none;
	color: #fff;
	text-decoration: underline;
	padding: 5px;
}
.contacto, a, span{
	display: block;
}
