
.position{
	position: absolute;
	bottom: 0;
	width: 100%;
}



.footer{
	text-align: center;
	background: #273b47;
	padding: 10px 0;
}
	.contacto a{
		text-decoration: none;
		color: #fff;
		text-decoration: underline;
		padding: 5px;
	}
	.contacto a{
		display: block;
	}
	.contacto span{
		display: block;
	}





.header{
	position: relative;	
}

	.background{
		background: url("../images/background.png");
		background-size: cover;
	}
	.contenedor{
		width: 800px;
		margin: auto;
		position: relative;
	}
	.menu{
		font-size: 24px;
		display: inline-block;
		position: absolute;
		right: 0;
	}
	.menu li {
		display: inline-block;
		margin-left: 5px;
	}
	.menu li:before{
		content: '∘';
		font-size: 50px;
		line-height: 20px;
		color: #fff;
	}
	.menu a{
		color: #fff;
		text-decoration: none;
	}
	.logotipo{
		display: inline-block;
		margin-left: 0;
	}
.container{
	min-height: 70vh;
	width: 90%;
	margin: 0 auto;
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}
		.post{
			width: 45%;
			margin-bottom: 2em;
		}
		.post a {
			text-align: center;
			text-decoration: none;
			color: #000;
		}
		.post img{
			width: 100%;
		}
